* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montez";
}

body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
}

#nav {
    padding: 2vw 10vw;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#nleft {
    display: flex;
    gap: 3vw;
    margin-left: 0;
}

#nav a {
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: inline-block;
}

#nav #centeratag {
    font-size: 2.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero {
    width: 100%;
    margin-top: 15vw;
    padding: 0vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sustain {
    width: 10vw;
}

#sustain p {
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    opacity: .6;
    font-size: 1.2vw;
    margin: 10px 0;
}

#sustain #susimagewrapper {
    width: 100%;
    height: 15vw;
    position: relative;
    overflow: hidden;
}

#susimagewrapper img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140%;
    height: 140%;
    object-fit: cover;
}

#ephemeral {
    /* background-color: red; */
    position: relative;
    min-height: 40vw;
    width: 30vw;
}

/* #imgntext {
    width: fit-content;
    height: fit-content;
} */

#ephemeral h1 {
    font-size: 3.2vw;
    font-weight: 400;
    letter-spacing: 1.3vh;
    line-height: 1;
}

#ephemeral #headings {
    position: absolute;
    top: -8%;
    left: -20%;

}

#ephemeral img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#ephemeral p {
    margin-top: 30px;
    font-size: 1.3vw;
    top: 103%;
    width: 50%;
    font-weight: 500;
}

#circlev {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 2px solid #5e5e5e;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circlev i {
    color: #5e5e5e;
}

#visit {
    display: flex;
    gap: 10px;
    align-items: center;
}

#visit h3 {
    color: #5e5e5e;
    font-weight: 600;
}

#motive {
    margin-top: 4vw;
    padding: 3vw 10vw;
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}

#motive h3 {
    margin-top: 0vw;
    margin-right: 2vw;
    display: block;
    font-size: 1.6vw;
    font-weight: 600;
}

#motive p {
    line-height: 1.5;
    margin-top: 6vw;
    position: relative;
    width: 85%;
    font-size: 1.4vw;
    font-weight: 500;
    display: flex;
    text-align: right;
}

#motive span {
    display: inline-block;
    margin: 0 13px;
    border-radius: 100px;
    background-color: red;
    margin-bottom: -12.5px;
}

#onespan {
    width: 170px;
    height: 50px;
    background: url(bluegirl.jpg);
    background-size: cover;
    background-position: center;
}

#twospan {
    width: 220px;
    height: 60px;
    background: url(shaljam.jpg) center;
    background-size: cover;

}

#threespan {
    width: 170px;
    height: 50px;
    background: url(grass.jpg) center;
    background-size: cover;
}

#pictures {
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
}

#firstpic {
    width: 17vw;
}

#firstpic,
#picimg {
    width: 17vw;
    height: 25vw;
    /* background-color: aquamarine; */
}

#picimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#firstpic h1,
#secpic h1 {
    letter-spacing: .1vw;
    font-size: 2vw;
}

#firstpic p,
#secpic p {
    opacity: 0.8;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -.04rem;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#secpic {
    width: 25vw;
    text-align: right;
}

#secpic #picimg {
    width: 100%;
    height: 38vw;
}

#secpic p {
    text-align: right;
}

#banner{
    width: 100%;
    margin-top: 8vw;
    display: flex;
    align-items: center;
}
#bimg{
    width: 65%;
    height: 70vh;
    background-color: red;
}
#bimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 70%;
    margin-right: 2vw;
}
#btext{
    width: 25%;
    padding: 0 4vw;
}
#btext h1{
    font-size: 2.4vw;
    font-weight: 600;
    line-height: -.1vw;
}
#btext p {
    margin-top: 10px;
    width: 95%;
    font-size: 1.4vw;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: -.1vw;
}
#future{
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

#future video{
    /* opacity: .1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width: 100%;
}
#ftext{
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items:center ;
    background-color: #fff;
    padding: 1.5vw 2vw;
    border-radius: 10px;
    color: black;
}

#ftext button{
    padding: 1vw 1.7vw;
    font-size: 0.9vw;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #5e5e5e;
    border-radius: 100px;
    text-transform: capitalize;
    margin-top: 2vw;
}
    
